.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#flex-div {
  display: flex;
  justify-content: center;
  margin: 21px;
}

/* left section for photo */

#img-left {
}
.homePhoto {
  height: 500px;
  width: 390px;
  margin-left: auto;
  margin-right: auto;
}

#right-list {
  /* margin: auto; */
  padding-top: 10%;
}

.homeList {
  list-style-type: none;
  padding: 5px;
  /* float: left; */
  text-align: center;
}
.navBar > p {
  display: inline;
  margin: 8%;
}

.gamer {
  /* font-family: monaco; */
}
